# Dependency directories
node_modules/
jspm_packages/

# Build outputs
release/
dist/
out/
build/

# Local databases & logs
*.db
*.log
local_data.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
